
.here
archive/nz_vowels_playground.r
nwav/nwav_abstract_nz_diphthongs.docx
nwav/nwav_abstract_nz_diphthongs_anon.docx
nwav/nwav_abstract_nz_diphthongs_anon.pdf
sounds/temp/temp001.wav
sounds/temp/temp002.wav
sounds/temp/temp003.wav
sounds/temp/temp004.wav
sounds/temp/temp005.wav
sounds/temp/temp006.wav
sounds/temp/temp007.wav
sounds/temp/temp008.wav
sounds/temp/temp009.wav
sounds/temp/temp010.wav
sounds/temp/temp_continuum.wav
